.container {
  width: 1080px;
}
body {
  color: #fff;
  background: #232323 url("../images/bg.jpg") repeat-x;
  font-size: 18px;
}
body,
select,
textarea,
input {
  font: 100% Arial, Verdana, Helvetica, sans-serif;
}
p {
  margin: 15px 0;
  line-height: 150%;
}
header {
  background: url("../images/bg_wrapper.jpg") right no-repeat;
  height: 185px;
  margin-top: 22px;
}
#logo {
  margin-top: 50px;
  position: relative;
}
#intro {
  margin-top: 30px;
  height: 100px;
  font-size: 1.2em;
}
#intro p {
  display: inline;
}
#intro #tagline {
  background: none;
  padding: 0;
}
#intro #tagline a,
#intro #tagline a:visited {
  text-indent: -9000px;
  display: block;
  height: 50px;
  background: url("../images/tagline.gif") no-repeat;
  margin-top: 30px;
  padding: 0;
}
nav {
  font-size: 1.4em;
  height: 39px;
  overflow: visible;
}
nav li {
  list-style: none;
  float: left;
  height: 37px;
}
nav li a,
nav li a:visited {
  height: 25px;
  margin: 0 15px 0 0;
  display: block;
  float: left;
  padding: 10px 20px 6px;
  text-decoration: none;
  color: #a1a0a0;
  z-index: 1000;
}
nav li a a:hover,
nav li a:visited a:hover,
nav li a a:focus,
nav li a:visited a:focus {
  background: #2d2d2f url("../images/bg_nav.gif") repeat-x;
  color: #fff;
}
.wrapper {
  margin: 0 auto;
  padding: 0 47px;
  overflow: hidden;
}
#main {
  background: #2d2d2f;
  border-top: 1px solid #444446;
  padding: 40px 0 50px;
  z-index: 1;
  overflow: visible;
  margin-top: 12px;
}
footer {
  background: url("../images/bg_footer.gif") repeat-x;
  padding-top: 18px;
  height: 125px;
  font-size: 12px;
}
footer a,
footer a:visited {
  color: #afafaf;
}
footer p {
  margin: 0;
}
footer #author_container a {
  text-decoration: underline;
}
footer #dept_container {
  text-align: right;
  border-right: 1px dotted #676767;
}
footer .scholars_lab_logo img {
  padding-left: 15px;
  padding-top: 15px;
}
