@import 'jeet'

edit()

.wrapper
    center(1140px)

#logo
    col(2/3)
    width: 65.6666666666667% !important

#intro
    col(1/3)

.main
    col(4/4)

    .content
        col(2/3)

    #sidebar
        col(1/3)

footer
    col(4/4)

.scholars_lab_logo
    background black

