// global styles

body
    color #fff
    background #232323 url(../images/bg.jpg) repeat-x
    font-size 18px

body, select, textarea, input
    font 100% Arial, Verdana, Helvetica, sans-serif

p
    margin 15px 0
    line-height 150%

// header styles
header
    background url(../images/bg_wrapper.jpg) right no-repeat
    height 185px
    margin-top 22px

#logo
    margin-top 50px
    position relative

#intro
    margin-top 30px
    height 100px
    font-size 1.2em

    p
        display inline

    #tagline
        background none
        padding 0

        a, a:visited
            text-indent -9000px
            display block
            height 50px
            // width 265px
            background url(../images/tagline.gif) no-repeat
            margin-top 30px
            padding 0

nav
    font-size 1.4em
    height 39px
    overflow visible
    // background black

    li
        list-style none
        float left
        height 37px

        a, a:visited
            height 25px
            margin 0 15px 0 0
            display block
            float left
            padding 10px 20px 6px
            text-decoration none
            color #a1a0a0
            z-index 1000

            a:hover, a:focus
                background #2d2d2f url(../images/bg_nav.gif) repeat-x
                color #fff


// Content div styles
#main
    background #2d2d2f
    border-top 1px solid #444446
    padding 40px 0 50px
    z-index 1
    overflow visible

// Sidebar styles

#sidebar
    h2
        background url(../images/bg_hdr_sidebar.gif) 90px top no-repeat
        font 2.5em Georgia, "Times New Roman", Times, serif
        text-align right
        margin 0
        padding 20px 0 14px

    h3
        text-align right
        font 2em Georgia, "Times New Roman", Times, serif


//  Footer styles

footer
    background url('../images/bg_footer.gif') repeat-x
    padding-top 18px
    height 125px
    font-size 12px

    a, a:visited
        color #AFAFAF

    p
        margin 0

    #author_container a
        text-decoration underline

    #dept_container
        text-align right
        border-right 1px dotted #676767

    .scholars_lab_logo img
        padding-left 15px
        padding-top 15px
