* {
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
  background: rgba(38,39,33,0.85);
  font-size: 18px;
  line-height: 1em;
  background: url("../images/bg.jpg") #b8a363;
}
body,
select,
textarea,
input {
  font: 100% 'Open Sans', sans-serif;
}
a,
a:visited {
  color: #a1a1a3;
  text-decoration: none;
}
a:hover,
a:active {
  color: #d4daa8;
}
*:focus {
  outline: 0;
}
ol {
  margin: 15px;
}
ol ol {
  margin: 5px;
}
ol li {
  margin-left: 25px;
}
blockquote {
  background: bg-off url("../images/quote.gif") no-repeat 10px 22px;
  font: italic 1.5em Georgia, "Times New Roman", Times, serif;
  padding: 22px 22px 22px 85px;
  margin: 15px 0 15px 20px;
  border: 1px solid #d5e198;
  border-width: 0 0 1px 3px;
}
blockquote p {
  margin: 0 0 15px;
}
cite {
  display: block;
  text-transform: uppercase;
  font-style: normal;
  font: 0.6em Georgia, "Times New Roman", Times, serif;
  padding: 4px 0 4px 25px;
}
hr {
  clear: both;
  background: #222224;
  color: #222224;
  width: 100%;
  height: 1px;
  margin: 15px 0;
  border: 0;
  display: block;
}
@media (min-width: 768px) {
  #main > .container > .row {
    display: -ms-flexbox;
    display: flex;
  }
}
body > script + .container {
  background: #dee8c5;
  width: 100%;
  margin: none;
  padding: none;
  border-bottom: 4px solid #d5e198;
}
#logo {
  margin-top: 22px;
  position: relative;
}
#logo img + img {
  display: none;
}
#intro {
  margin-top: 30px;
  height: 100px;
  font-size: 1.2em;
}
#intro p {
  display: inline;
}
#intro #tagline {
  background: none;
  padding: 0;
  display: block;
  height: 50px;
  margin-top: 30px;
  max-width: 100%;
}
nav {
  font-size: 1.6em;
  height: 39px;
  overflow: visible;
  margin-top: 10px;
  text-align: center;
  font-family: Georgia, serif;
  font-style: bold;
}
nav li {
  display: inline-block;
  list-style: none;
  float: none;
  height: 40px;
  width: 10em;
  border: 2px solid #d4daa8;
  border-radius: 20px;
  background-color: rgba(38,39,33,0.85);
}
nav li a,
nav li a:visited {
  height: 25px;
  margin: 0 auto 0 auto;
  display: block;
  float: left;
  padding: 10px 20px 6px;
  text-decoration: none;
  color: #d4daa8;
  z-index: 1000;
  text-align: center;
  width: 100%;
}
nav li a a:hover,
nav li a:visited a:hover,
nav li a a:focus,
nav li a:visited a:focus {
  background: #2d2d2f url("../images/bg_nav.gif") repeat-x;
  color: #fff;
}
.current-menu-item {
  background-color: #b8a363;
}
.current-menu-item a,
.current-menu-item a:visited {
  color: #000;
}
.content {
  padding-left: 0;
  padding-right: 0;
}
#main {
  padding: 40px 0 50px;
  z-index: 1;
  overflow: visible;
}
.poem-home,
.post-home {
  padding: 5px;
  min-height: 45vh;
  background-color: rgba(38,39,33,0.85);
  border-top: 2px solid #d5e198;
}
@media (min-width: 768px) {
  .poem-home {
    border-left: 2px solid #d5e198;
    border-bottom: 2px solid #d5e198;
    border-radius: 20px 0 0 20px;
  }
}
@media (min-width: 992px) {
  .poem-home {
    margin-left: 12.5%;
  }
}
.post-home {
  padding: 2em;
  font-size: 1.28em;
  border-bottom: 2px solid #d5e198;
  margin: auto;
}
@media (min-width: 768px) {
  .post-home {
    border: 2px solid #d5e198;
    border-radius: 20px;
  }
}
.scrollfix {
  width: 100%;
}
#poem_text {
  display: -ms-flexbox;
  display: flex;
}
#poem {
  padding-top: 15px;
  font-size: 1.28em;
  float: left;
  min-width: 80%;
  width: 100%;
  margin-left: 25px;
  -ms-flex: auto;
      flex: auto;
}
#poem #poemtitle {
  margin: 10px 0 15px;
}
#poem #poemtitle h2 {
  padding-bottom: 10px;
  line-height: 1em;
}
span.space_1 {
  margin-left: 1em;
}
small.date {
  padding-left: 1.5em;
  font-size: 0.6em;
  vertical-align: middle;
}
div.prosody-shadowline {
  display: table-row;
  height: 18px;
}
span:hover {
  background: #444;
}
div.TEI-l {
  line-height: 1em;
}
.buttons {
  float: right;
  margin-top: -1em;
}
#poem span.button {
  word-spacing: 0;
  letter-spacing: 0;
}
#poem .button button {
  width: 18px;
}
button {
  background: none;
  border: 0;
  color: #fff;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.prosody-note {
  display: none;
  color: #dee8c5;
  font-size: 1.4em;
  line-height: 1.5;
}
.prosody-note-button {
  display: none;
}
#sidebar-container {
  background-color: rgba(38,39,33,0.85);
  border-top: 2px solid #d5e198;
  border-bottom: 2px solid #d5e198;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  #sidebar-container {
    border-right: 2px solid #d5e198;
    border-radius: 0 20px 20px 0;
  }
}
#sidebar h2 {
  font: 2.5em Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin: 0;
  padding: 20px 0 14px;
  color: #dee8c5;
}
#sidebar h3 {
  text-align: center;
  font: 2em Georgia, "Times New Roman", Times, serif;
}
.poem-sort-method {
  display: block;
  height: 40px;
  padding: 0 24px;
  text-align: center;
  line-height: 40px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  outline: 0;
  border-bottom: 1px solid #0b0b0d;
  background: none;
}
.poem-results {
  padding: 10px 10px 15px 15px;
  font-size: 0.9em;
  color: #fff;
  max-height: 30vh;
  overflow: auto;
}
.poem-results h4 {
  color: #dee8c5;
  display: block;
  text-align: center;
  border-bottom: 1px solid #d5e198;
  padding: 15px 2px;
}
.poem-results ul {
  margin-top: -1px;
  overflow: auto;
}
#accordion .ui-widget-content {
  background: none;
  border: none;
}
#accordion .ui-widget-content a {
  color: #fff;
}
#accordion .ui-accordion-header {
  color: #dee8c5;
  border: none;
  border-bottom: 2px solid #d5e198;
  margin-bottom: 4px;
  padding-right: 1.5em;
}
#accordion .ui-icon {
  background-image: url("images/ui-icons_dee8c5_256x240.png");
}
.titles {
  list-style-type: none;
}
.titles li {
  padding: 15px 2px;
}
.titles a {
  display: block;
  color: #d4daa8;
  text-align: left;
}
footer {
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 12px;
  background-color: #dee8c5;
  border-top: 4px solid #d5e198;
}
footer a,
footer a:visited,
footer a:hover {
  color: #000;
}
footer p {
  margin: 0;
}
footer #author_container a {
  text-decoration: underline;
}
footer #dept_container {
  text-align: right;
  border-right: 1px dotted #676767;
}
footer .scholars_lab_logo img {
  padding-left: 15px;
  padding-top: 15px;
}
footer .credits {
  color: #000;
  text-align: center;
  font-size: 0.8em;
}
@media (min-width: 768px) {
  footer .credits:nth-child(odd) {
    text-align: right;
  }
}
@media (min-width: 768px) {
  footer .credits:nth-child(even) {
    text-align: left;
  }
}
#glossary {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
#glossary p {
  margin: 15px 0;
  line-height: 150%;
}
#glossary h2 {
  font: 2.8em Georgia, "Times New Roman", Times, serif;
  background: url("../images/bg_hdr.gif") left 8px no-repeat;
  letter-spacing: 0.05em;
  padding: 14px 0 10px;
}
#glossary dl {
  margin: 10px 0 20px;
  overflow: hidden;
}
#glossary dl .media {
  padding-bottom: 20px;
  border-bottom: 1px solid #222224;
}
#glossary dl .media dt {
  padding: 15px 20px 15px 0;
  border-top: none;
}
#glossary dl .media dd {
  padding: 0 20px;
  border-top: none;
}
#glossary dl dt {
  width: 25%;
  float: left;
  padding: 25px 20px 25px 0;
  border-top: 1px solid #222224;
  text-align: right;
  clear: both;
  color: #a1a1a3;
  font: 1.2em Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
}
#glossary dl dd {
  float: left;
  width: 75%;
  padding: 10px 20px;
  border-top: 1px solid #222224;
  overflow: hidden;
}
#glossary dl dd p {
  font-size: 1.2em;
}
#glossary dl dt.first,
#glossary dl dd.first {
  border-top: none;
}
#tabs {
  background: #2d2d2f;
  border: 0;
  border-top: 1px solid #3f3f41;
  padding-top: 10px;
  font-size: 1.3em;
}
#tabs span {
  color: #fff;
}
#tabs h2 {
  color: #fff;
  font: 2.4em Georgia, "Times New Roman", Times, serif;
  background: url("../images/bg_hdr.gif") left 8px no-repeat;
  letter-spacing: 0.05em;
  padding: 14px 0 10px;
  margin-top: 15px;
}
#tabs p {
  color: #fff;
  margin: 15px 0;
  line-height: 150%;
}
#tabs .ui-widget-header {
  color: #fff;
  background: #2d2d2f;
  border: 0;
}
#tabs .ui-widget-header .ui-state-active,
#tabs .ui-widget-header .ui-state-default {
  color: #fff;
  background: #2d2d2f;
  border: 0;
}
#tabs .ui-state-active {
  color: #fff;
  background: #2d2d2f;
  border: 0;
}
#tabs .ui-state-active a,
#tabs .ui-state-active a:link {
  color: #fff;
}
#tabs .ui-widget-content .ui-state-active,
#tabs .ui-widget-content .ui-state-default {
  color: #fff;
  background: #2d2d2f;
  border: 0;
}
#tabs .ui-state-default {
  color: #fff;
  background: #2d2d2f;
  border: 0;
}
#subnav {
  float: right;
}
#subnav li {
  list-style: none;
  float: left;
  height: 37px;
}
#subnav li a {
  height: 25px;
  margin: 0 15px 0 0;
  float: left;
  padding: 10px 5px 6px 0;
  font-size: 1em;
  color: #a1a0a0;
}
#rules-top {
  background: #2d2d2f;
  border: 0;
  font-size: 1.3em;
}
#rules-top span {
  color: #fff;
}
#rules-top h2 {
  color: #fff;
  font: 2.4em Georgia, "Times New Roman", Times, serif;
  background: url("../images/bg_hdr.gif") left 8px no-repeat;
  letter-spacing: 0.05em;
  padding: 14px 0 10px;
  margin-top: 15px;
}
#rules-top p {
  color: #fff;
  margin: 15px 0;
  line-height: 150%;
}
.poem_tabs {
  margin-bottom: 10px;
}
.poem_tabs li {
  display: inline;
  background: #444;
  padding: 10px;
  color: #fff;
  font-size: 1.2em;
}
.poem_tabs li a,
.poem_tabs li a:visited {
  text-decoration: none;
  color: #a1a1a3;
}
.poem_tabs li a:hover,
.poem_tabs li a:active {
  color: #c99a73;
}
#poem_resources {
  padding-top: 15px;
  margin-left: 25px;
  font-size: 1.2em;
}
#poem_resources h2 {
  background: url("../images/bg_hdr.gif") left 8px no-repeat;
  font: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.05em;
  padding: 14px 0 10px;
  line-height: 2em;
  font-size: 1.8em;
  margin-bottom: 20px;
}
#meter-select select {
  color: #000;
}
#meter-select option {
  color: #000;
}
.ui-widget-header {
  background: #19191b;
  border: 1px solid #19191b;
}
.ui-dialog-title:hover {
  background: #19191b;
}
#rhymegutter {
  padding-bottom: 2em;
}
#rhymebar {
  float: left;
  width: 7px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
#rhymebar .rhymespacer {
  background: linear-gradient(rgba(0,0,0,0) 80%, #d5e198);
}
#rhymebar .rhymefield {
  background: #d5e198;
  border-right: 1px solid #dee8c5;
  -ms-flex-positive: 1;
      flex-grow: 1;
  cursor: pointer;
}
#rhymebar .rhymefield:hover {
  background: #ddd;
}
#rhyme {
  height: 0;
  width: 25px;
  float: left;
}
#rhyme .lrhyme {
  height: 30px;
  padding: 0 4px;
}
#rhyme .check {
  padding: 0 3px !important;
}
#rhyme form {
  background: rgba(38,39,33,0.85);
  padding-bottom: 10px;
}
#rhyme input {
  background: #656565;
  height: 16px;
  width: 14px;
  margin: 0;
  padding: 0 2px;
  border: 0;
  color: #fff;
  font-size: 11px;
}
#rhyme input:hover {
  background: #888;
}
#rhyme input#rhymecheck {
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  background: #999;
  color: #222;
}
#rhyme input#rhymecheck:hover {
  background: #ddd;
}
#rhyme input#rhymecheck.right {
  background: #32cd32;
}
#rhyme input#rhymecheck.wrong {
  background: #b22222;
}
#rhymeflag {
  clear: both;
  float: left;
  width: 32px;
  background: #d5e198;
  border-right: 1px solid #cfcfcf;
  color: #000;
  padding: 1px;
  cursor: pointer;
  font-size: 9px;
}
#rhymeflag:hover {
  background: #fff;
}
#utils {
  float: left;
  width: 100%;
  position: absolute;
  bottom: 4px;
  background-color: rgba(0,0,0,0);
}
#utils .inner-util {
  background-color: rgba(0,0,0,0);
  width: 100%;
  display: inline-block;
  margin: auto;
  text-align: center;
}
