.wrapper {
  *zoom: 1;
  width: auto;
  max-width: 1080px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.wrapper:before,
.wrapper:after {
  content: '';
  display: table;
}
.wrapper:after {
  clear: both;
}
#logo {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.6666666666667%;
  margin-left: 0%;
  margin-right: 3%;
  width: 65.6666666666667% !important;
}
#logo:before,
#logo:after {
  content: '';
  display: table;
}
#logo:after {
  clear: both;
}
#logo:last-child {
  margin-right: 0%;
}
#intro {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
#intro:before,
#intro:after {
  content: '';
  display: table;
}
#intro:after {
  clear: both;
}
#intro:last-child {
  margin-right: 0%;
}
.main {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
.main:before,
.main:after {
  content: '';
  display: table;
}
.main:after {
  clear: both;
}
.main:last-child {
  margin-right: 0%;
}
.main .content {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.6666666666667%;
  margin-left: 0%;
  margin-right: 3%;
}
.main .content:before,
.main .content:after {
  content: '';
  display: table;
}
.main .content:after {
  clear: both;
}
.main .content:last-child {
  margin-right: 0%;
}
.main #sidebar {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.main #sidebar:before,
.main #sidebar:after {
  content: '';
  display: table;
}
.main #sidebar:after {
  clear: both;
}
.main #sidebar:last-child {
  margin-right: 0%;
}
footer {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
footer:before,
footer:after {
  content: '';
  display: table;
}
footer:after {
  clear: both;
}
footer:last-child {
  margin-right: 0%;
}
header {
  background: url("../images/bg_wrapper.jpg") right no-repeat;
  height: 185px;
  margin-top: 22px;
}
#logo {
  margin-top: 50px;
  position: relative;
}
#intro {
  margin-top: 30px;
  height: 100px;
  width: 265px;
  font-size: 0.95em;
}
#intro p {
  display: inline;
}
#intro #tagline {
  background: none;
  padding: 0;
}
#intro #tagline a,
#intro #tagline a:visited {
  text-indent: -9000px;
  display: block;
  height: 50px;
  width: 265px;
  background: url("../images/tagline.gif") no-repeat;
  margin-top: 30px;
  padding: 0;
}
.wrapper {
  margin: 0 auto;
  font-size: 0.75em;
  padding: 0 47px;
  overflow: hidden;
}
#main {
  background: #2d2d2f;
  border-top: 1px solid #444446;
  padding: 40px 0 50px;
  z-index: 1;
  overflow: visible;
}
body {
  color: #fff;
  background: #232323 url("../images/bg.jpg") repeat-x;
}
body,
select,
textarea,
input {
  font: 100% Arial, Verdana, Helvetica, sans-serif;
}
p {
  margin: 15px 0;
  line-height: 150%;
}
.scholars_lab_logo {
  background: #000;
}
